@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

footer > svg {
  /* background-color: green; */
  padding: 0.8rem;
  color: gray;
  /* font-size: 45px; */
}



.transActs {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.transActs > div :nth-child(1) {
  font-weight: 600;
}
.transActs > div :nth-child(2) {
  color: gray;
  font-size: smaller;
}

.transActs :last-child {
  font-weight: 500;
}

.line-chart-container {
  /* Add styles for the container if needed */
  border: 0;
}

.recharts-wrapper {
  /* Add styles for the chart wrapper */
  border: 0;
}

.recharts-cartesian-grid-horizontal line {
  stroke: transparent; /* Customize grid lines color */
}

.recharts-tooltip {
  background-color: blue; /* Tooltip background color */
  border: 0; /* Tooltip border */
}

.recharts-tooltip-label {
  color: transparent; /* Tooltip label color */
}

.recharts-tooltip-item {
  color: #888888; /* Tooltip value color */
}

.addForm > div > input {
  border: #ddd 1px solid;
  outline: 0;
  border-radius: 10px;

  font-size: 14px;
  width: 100%;
  color: #666666;
}

.addForm > div > input:focus {
  border: #438883 1px solid;
}

.light{
  background-color: white;
}

 .dark {
  background-color: #1d1d1d;
  color: #FFFFFF;
}

.dark .card {
  background-color: rgb(18, 45, 44);
}

.dark .card h1,
.dark .card p {
  color: #B3B3B3;
}



.dark  footer{
  background-color: #0e201e;
  border: none;
}
/* .dark select{
  background-color: transparent;
  color: white;
  
  
} */

.dark select{
  background-color: #1d1d1d;
}
.dark .user{
  background-color: #666666;
}

/* .dark option{
  background-color: black;

} */
.dark option{
  background-color: rgb(188, 188, 188);
}

.green{
  background-color: #1B5C58;
}


.dark form{
  background-color: #363737;
  color: white;
}

.dark form label{
  color: white;
}

.dark form input{
  background-color: black;
  border: #444   1px solid;
  color: white;
}

.dark .login form, .dark .signUp form{
  background-color: transparent;
}

.dark .float{
  background-color: #1d1d1d;
  
}
 



